<div class="main-layout">
  <h1>{{ title }}</h1>
  <form [formGroup]="dataEntryForm" novalidate autocomplete="off">
    <div class="header">
      <div *ngIf="!dataEntryForm.get('userName')?.value">
        <label class="gap-right" for="userName">User name
          <span class="mandatory-asterisk">*</span>
        </label>
        <input class="gap-right" type="text" id="userName" formControlName="userName" (blur)="onBlurUserName($event)"/>
      </div>
      <label class="gap-right" *ngIf="dataEntryForm.get('userName')?.value">User: {{ dataEntryForm.get('userName')?.value }}</label>
    </div>
    <div class="content">
      <label class="gap-right" for="message">Messages</label>
      <div>
        <ul class="list-style">
          <li style="list-style-type:none;" *ngFor="let msg of sentMessages">
            {{ extractMessage(msg) }}
          </li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <div class="mess-in">
        <label class="gap-right" for="message">Message:</label>
        <input type="text" id="message" class="mess-style" formControlName="message"/>
        <button type="button" class="align-right" (click)="onSendMessage($event)">Send</button>
      </div>
    </div>
  </form>    
</div>
